html,
body,
.page-container {
	min-height: 100vh;
}

.page-container {
	display: flex;
	flex-direction: column;
}

.cuerpo {
	flex-grow: 1;
}

.menuSup {
	border-bottom: 3px solid #fcda59;
}

.cuerpoPrincipal {
	flex-grow: 1;
	padding: 0;
}